/* 
    the main concept here is using the background-attachment property
    with the value of fixed in order to keep the background-image appear static/fixed in position
    when scrolling through the element( instead of it moving with the element )
*/


* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
}
section {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    place-items: center;
}
section > h2 {
    font-size: 96px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    margin: 0px;
}
section:nth-child(1) {
    background-image: url(./school1.jpg);
}
section:nth-child(2) {
    background-image: url(./school3.jpg);
}
section:nth-child(3) {
    background-image: url(./school2.jpg);
}