/* 
    the main concept here is using elements to create boxes on the background( body ) that are absolutely positioned
    then animating them using the ( bottom property ) to move from below the screen to up the screen

    [!]: you can do this in opposite directions also
*/


* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}


/* styling the header */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    font-size: 96px;
    color: white;
}


/* styling the particles */
.box ul li {
    position: absolute;
    width: 200px;
    height: 200px;
    list-style: none;
    opacity: 0;
    background-image: radial-gradient(deepskyblue, transparent, transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}
.box ul li:nth-child(2) {
    left: 25vw;
    animation-delay: 4s;
}
.box ul li:nth-child(3) {
    left: 15vw;
    animation-delay: 7s;
}
.box ul li:nth-child(4) {
    left: 65vw;
    animation-delay: 2s;
}
.box ul li:nth-child(5) {
    left: 50vw;
    animation-delay: 5s;
}
.box ul li:nth-child(6) {
    left: 80vw;
    animation-delay: 9s;
}

@keyframes animate  {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }

    100% {
        transform: scale(1);
        opacity: 0;
        bottom: 100vw;
    }
}